<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LDP -->
      <package
            uri="http://LDP/1.0"
            class="LDP.LDPPackage"
            genModel="metamodels/LDP.genmodel"/>
   </extension>

</plugin>
